.nav_links a{
  font-family: sans-serif;
  color:#ab4493;
  font-weight: bold; 
  text-decoration: none;
justify-content: center;
}

/*alinea la lista una al lado del otro*/
.nav_links li{
    display: inline-block;
    padding: 0px 70px;
  
}
.nav_links{
    list-style:none;
    background-color:  rgb(255, 174, 201);
   
    
}
.nav_links a:hover{
    color: rgb(252, 190, 233);
    text-decoration: none;
}


body{position: relative;
min-height: 100vh;
display: flex;
flex-direction: column;
background: linear-gradient(90deg,#ffebbf ,#ffcdd2,#decdfb );

}


.footer{
    display: flex;
flex-direction: row;
justify-content: space-between;
background-color:  rgb(255, 174, 201);
}
.footer a{font-family: sans-serif;
  color:#ab4493;
  font-weight: bold; 
  text-decoration: none;
justify-content: center;}
.footer a:hover{
  color: rgb(252, 190, 233);
  text-decoration: none;
}
.footer li{list-style:none ;}
.footerabajo{
   margin-top: auto;
}


.quienessomos{
    display: flex;
flex-direction: row;
justify-content: space-around;
font-family: sans-serif;
}
.texto{font-family: sans-serif;
  float: center;  
  color: #ab4493;
  font-weight: bold;
font-style:oblique ; }
.persona{
width: auto; 
    height: auto;
    margin: 10px auto ;
    border-radius: 10px;  
    padding-top: 20px;
    padding-bottom: 10px;  
    background-image: linear-gradient(to left, rgba(255, 146, 202, 0.75) 0%, rgba(145, 149, 251, 0.86) 100%);
    padding-left: 30px; 
    padding-right: 30px;
    font-family: sans-serif;
    float: center;  
    color: #fff;
    font-weight: bold; 
}
/*formulario de contact*/

.contact_form{  
    width: 460px; 
    height: auto;
    margin: 10px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: rgb(255, 174, 201);
    padding-left: 30px; 
    font-family: sans-serif;
    
   
  
  }
  
  
  input{
    background-color: #fbfbfb; 

    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
    color: #ab4493;
    font-weight: bold; 
    
  }
  
  
  button{
    
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-image: linear-gradient(to left, rgba(255, 146, 202, 0.75) 0%, rgba(145, 149, 251, 0.86) 100%);
    border-color: #ab4493; 
  border-style: solid; 
    border-radius: 10px;  
    width: 408px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
    font-weight: bold; 
  }
    
    button:active{transform: translatey(5px);}
  
/*SLIDER*/

.slider{
 
  margin: auto;
  width: 95%;
  height: 65%;
  overflow: hidden;
 

}
.slider ul{
  display:flex;
  padding:0;
  width: 400%;
  animation: cambio 20s infinite;
  animation-direction: alternate;
  }
.slider li {
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
}

@keyframes cambio {
  0% {margin-left:0;}
  20% {margin-left: 0;}
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  75% {margin-left: -300%;}
  100% {margin-left: -300;}
}
nav.seleccion {
  width: 100%;
  position: absolute;
  top:auto;
  padding: 0;
  background-image: linear-gradient(to left, rgba(255, 146, 202, 0.75) 0%, rgba(145, 149, 251, 0.86) 100%);
}

nav.seleccion ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav.seleccion ul li {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
}

nav.seleccion a {
 
  text-decoration: none;
 
  font-family: sans-serif;
  color: #fff; 
  font-weight: bold; 
  line-height: 1.8;
  flex-grow: 1;
  text-align: center;
 
  border-right: 1px solid rgb(255, 174, 201);
  flex-wrap: wrap;
  position: relative;
}

nav.seleccion li:last-child a {
  border-right: 0;
}



nav.seleccion a:active {
 
  transform: translatey(5px);
}
 
@media(max-width: 760px){

  
   .quienessomos{  flex-direction: column}
   .footer{
     flex-direction: column;
     
   }
   
  }